<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta content="True" name="HandheldFriendly" />
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0; name='viewport'" />
        <title></title>
        <link rel="stylesheet" type="text/css" media="screen"  href="{{ static_url('bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen"  href="{{ static_url('fontllo.css') }}" />
        <link rel="stylesheet" type="text/less" media="screen"  href="{{ static_url('style.less') }}" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <script type="text/javascript" src="{{ static_url('jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('bootstrap.min.js') }}"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <!-- begin sidebar -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- begin content -->
            {% block content %}
            {% endblock %}
            <!-- end content -->

        </div>
        <script type="text/javascript" src="{{ static_url('less-1.3.0.min.js') }}"></script>
    </body>
</html>
{# vim: set ft=jinja: #}
