{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ static_url('tojson.js') }}"></script>
<script type="text/javascript" src="{{ static_url('service.js') }}"></script>
{% endblock %}

{% block content %}
<div id="content" class="span9">
    <div class="span8">&nbsp;</div>
    <div id="activity">

        <div class="span8" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; margin-bottom: 20px;">
            <div style="float: right;">
                <button id="start-all-services" class="btn">{{ _('Start all services') }}</button>
                <button id="stop-all-services" class="btn">{{ _('Stop all services') }}</button>
                <button id="restart-all-services" class="btn">{{ _('Restart all services') }}</button>
            </div>
        </div>

        {% for service in services %}
        <div id="{{ service.name }}" class="span9 event_">
            <div class="span1"><i class="icon-{%if service.name in runnings %}play{% else %}stop{% endif %} status" style="font-size: 48px;"></i></div>
            <div class="span6">
                <h4>{{ service.name }}</h4>
                <p>{{ service.description }}</p>
                <div>
                    <div class="btn-group" style="width: auto; float: left;">
                        <button class="btn start-service{%if service.name in runnings %} active{% endif %}" name="{{ service.name }}">{{ _('Start') }}</button>
                        <button class="btn stop-service{%if service.name not in runnings %} active{% endif %}" name="{{ service.name }}">{{ _('Stop') }}</button>
                    </div>
                    <div style="float: left;">
                        <button class="btn restart-service" name="{{ service.name }}" style="margin-left: 10px;"><i class="icon-attention"></i>{{ _('Restart') }}</button>
                    </div>
                    <div class="btn-group" style="width: auto; float: right;">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">{{ _('Other') }}<span class="caret"></span></button>
                        <ul class="dropdown-menu service-other-dropdown">
                            <li><a href="javascript:void(0);" rel="{{ service.name }}" class="toggle-enable-service"><i class="icon-{% if service.enable %}ok{% else %}cancel{% endif %}"></i>{{ _('Enable') }}</a></li>
                            <li><a href="javascript:void(0);" rel="{{ service.name }}" class="toggle-autostart-service"><i class="icon-{% if service.autostart %}ok{% else %}cancel{% endif %}"></i>{{ _('Auto start') }}</a></li>
                            <!--<li class="divider"></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
