{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/less" media="screen"  href="{{ static_url('options.less') }}" />
<script type="text/javascript" src="{{ static_url('DataTables/jquery.DataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('DataTables/jquery.jeditable.js') }}"></script>
<script type="text/javascript" src="{{ static_url('DataTables/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ static_url('DataTables/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ static_url('DataTables/jquery.DataTables.editable.js') }}"></script>
<script type="text/javascript" src="{{ static_url('options.js') }}"></script>
{% endblock %}

{% block content %}
<div id="content" class="span9">
    <div class="span8">&nbsp;</div>

    <div class="span8" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; margin-bottom: 20px;">
        <div>
            <h4 style="float: left; line-height: 200%;">Regenerate configure files:&nbsp;&nbsp;</h4>
            <div class="btn-group" style="width: auto; float: left;">
                <button class="btn">Automatic</button>
                <button class="btn active">Manual</button>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="alert alert-info">
            <strong>Notice:</strong> Just regenerate configure files, You need restart services to apply.
        </div>
    </div>

    <div id="options" class="span8">
        <table id="options-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Addon</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}
                <tr id="{{ option.id }}">
                    <td class="readonly">{{ option.id }} </td>
                    <td class="addon-name readonly">{{ option.addon }}</td>
                    <td class="option-name readonly">{{ option.name }}</td>
                    <td class="option-value">{{ option.value }}</td>
                    <td class="option-description readonly">{{ option.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
